@import "_colors";
@import "_animations";
@import url( 'https://fonts.googleapis.com/css?family=Roboto');

body,
html {
    font-family: "Roboto";
    background: white;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    * {
        color: $textColor;
    }
}

h1 {
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    cursor: default;
    text-transform: uppercase;
    color: $headingColor;
}

.block-full {
    background: lighten($backgroundColor, 10);
    width: 100%;
    text-align: center;
    height: auto;
    box-sizing: border-box;
    padding: 10px 0;
    position: relative;
}

button,
input {
    outline: none;
    border: none;
    margin: 0;
    width: 100%;
}

input {
    $textareaHeight: 30px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0 10px;
    resize: none;
    height: 50px;
    line-height: $textareaHeight;
    background: white;
    text-overflow: ellipsis;
    position:relative;
}

button {
    background-color: lighten($backgroundColor, 10);
    padding: 0;
    height: 48px;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    color:$headingColor;

    &:active {
        background-color: white;
    }
}

.quit {
    position: absolute;
    border-radius:100px;
    right: 6px;
    top: 6px;
    height: 20px;
    width: 20px;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    background-image: url("../assets/clear.svg");
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;

    &:hover {
      opacity:0.6;
      background-color:white;
    }

    &:active {
        opacity: 1;
        fill:black!important;
        background-color:transparent;
    }
}
